@media only screen and (min-width:64rem){
    
    section.galleryimages {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .singleimage:hover {
        box-shadow: 0 0 30px blue;
    }

    /*------home------*/
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
    }
    .cards section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .forecast {
        font-size: x-large;
    }
}