@media only screen and (min-width:32.5rem){
   
    header img {
        width: 128px;
    }

    .navigation li {
        display: block;
        padding: 0;
        width: 100%;
    }

    .navigation li:first-child {
        display: none;
    }
    .navigation ul {
        display: flex;
        flex: 1 1 auto;
    }
    .summary {
        position: absolute;
    }
    section.galleryimages {
        grid-template-columns: 1fr 1fr;
    }
    form {
        grid-template-columns: 1fr 1fr;
    }
    /* ---------home--------*/
    .cards section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cards section:nth-child(even) div {
        grid-column: reverse;
    }

    /*----other---*/
    .forecast {
        font-size: large;
    }
    h3 {
        font-size: x-large;
    }

}