@media only screen and (min-width: 32.5rem) {

    nav {
        display: grid;
    }
    nav ul {
        grid-template-columns: auto auto auto auto;
        padding: .5em;
        text-align: center;
        border-bottom: 0px;
    }
    main {
        font-size: 2em;
    }
}
